= semantic_form_for piece, url: form_url, method: form_method, remote: true do |f|
  ol
    = f.semantic_fields_for :vtrg_slider_images do |a|
      = render partial: "vitrage_pieces/vtrg_sliders/vtrg_slider_image_fields", locals: { f: a }
    = link_to_add_fields "Добавить изображение", f, :vtrg_slider_images, class: "new-slide-link"
    = hidden_field_tag :kind, piece.class.name.demodulize, id: nil
    = hidden_field_tag :owner_type, params[:owner_type], id: nil
    = hidden_field_tag :owner_id, params[:owner_id], id: nil
    = hidden_field_tag :authenticity_token, form_authenticity_token
  = f.actions do
    = f.action :submit, as: :button, button_html: { class: "vtrg-slider-btn" }, label: "Создать слайдер"
    = f.action :cancel, as: :link, label: "Отменить"