.vtrg-images-container.vtrg-many-images.two-images.extra-margin
  .vtrg-image
    - if piece.first_image.present?
      .lightgallery data-src=(piece.first_image.big.url)
        = image_tag piece.first_image.two_images.url
      .image-hint
        = piece.first_image_title
  .vtrg-image
    - if piece.second_image.present?
      .lightgallery data-src=(piece.second_image.big.url)
        = image_tag piece.second_image.two_images.url
      .image-hint
        = piece.second_image_title
