.swiper-container.js-swiper.slider-vitrage.extra-margin
  .swiper-wrapper
    - piece.vtrg_slider_images.each_with_index do |image, i|
      .swiper-slide data-swiper-title="#{image.title}"
        .swiper-image.lightgallery data-src=(image.image.big.url)
          = image_tag image.image.big.url
  .swiper-pagination-vitrage
  .btn-prev
  .btn-next
