.vtrg-images-container.vtrg-many-images.three-images.extra-margin
  .vtrg-image
    - if piece.first_image.present?
      .lightgallery data-src=(piece.first_image.big.url)
        = image_tag piece.first_image.three_images.url
      .image-hint
        = piece.first_image_title
  .vtrg-image
    - if piece.second_image.present?
      .lightgallery data-src=(piece.second_image.big.url)
        = image_tag piece.second_image.three_images.url
      .image-hint
        = piece.second_image_title
  .vtrg-image
    - if piece.third_image.present?
      .lightgallery data-src=(piece.third_image.big.url)
        = image_tag piece.third_image.three_images.url
      .image-hint
        = piece.third_image_title
