.some-class
  - if params[:owner_type].present?
    - owner_type_ed = params[:owner_type]
  - else
    - owner_type_ed = @slot ? @slot.owner.class.name : nil

  - if params[:owner_id].present?
    - owner_id_ed = params[:owner_id]
  - else
    - owner_id_ed = @slot ? @slot.owner.id : nil

  = semantic_form_for piece, url: form_url, method: form_method, remote: true do |f|
    = f.inputs
      = f.input :image, label: "Изображение",
              hint: (f.object.image? ? "<br>Текущее изображение:<br>#{image_tag(f.object.image.thumb.url, class: "thumb_image")}" : "").html_safe
      = f.input :image_title, label: "Подпись изображения", input_html: { class: "long-vitrage-input" }
    = hidden_field_tag :kind, piece.class.name.demodulize, id: nil
    = hidden_field_tag :owner_type, params[:owner_type], id: nil
    = hidden_field_tag :owner_id, params[:owner_id], id: nil
    = f.actions
      = f.action :submit, as: :button, label: "Создать блок с изображением"
      = f.action :cancel, as: :link, label: "Отменить"