.some-class
  - if params[:owner_type].present?
    - owner_type_ed = params[:owner_type]
  - else
    - owner_type_ed = @slot ? @slot.owner.class.name : nil

  - if params[:owner_id].present?
    - owner_id_ed = params[:owner_id]
  - else
    - owner_id_ed = @slot ? @slot.owner.id : nil

  = semantic_form_for piece, url: form_url, method: form_method, remote: true do |f|
    = f.inputs
      = f.input :first_image, label: "Первое изображение",
              hint: (f.object.first_image? ? "<br>Текущее изображение:<br>#{image_tag(f.object.first_image.thumb.url, class: "thumb_image")}" : "").html_safe
      = f.input :first_image_title, label: "Подпись изображения"
      = f.input :second_image, label: "Второе изображение",
              hint: (f.object.second_image? ? "<br>Текущее изображение:<br>#{image_tag(f.object.second_image.thumb.url, class: "thumb_image")}" : "").html_safe
      = f.input :second_image_title, label: "Подпись изображения"
      = f.input :third_image, label: "Третье изображение",
              hint: (f.object.third_image? ? "<br>Текущее изображение:<br>#{image_tag(f.object.third_image.thumb.url, class: "thumb_image")}" : "").html_safe
      = f.input :third_image_title, label: "Подпись изображения"
    = hidden_field_tag :kind, piece.class.name.demodulize, id: nil
    = hidden_field_tag :owner_type, params[:owner_type], id: nil
    = hidden_field_tag :owner_id, params[:owner_id], id: nil
    = f.actions
      = f.action :submit, as: :button, label: "Создать блок с тремя изображениям"
      = f.action :cancel, as: :link, label: "Отменить"