.some-class
  - if params[:owner_type].present?
    - owner_type_ed = params[:owner_type]
  - else
    - owner_type_ed = @slot ? @slot.owner.class.name : nil

  - if params[:owner_id].present?
    - owner_id_ed = params[:owner_id]
  - else
    - owner_id_ed = @slot ? @slot.owner.id : nil

  = semantic_form_for piece, url: form_url, method: form_method, remote: true do |f|
    = f.inputs
      = f.cktext_area :body, :ckeditor => {:toolbar => "vitrageToolbar"}
    = hidden_field_tag :kind, piece.class.name.demodulize, id: nil
    = hidden_field_tag :owner_type, params[:owner_type], id: nil
    = hidden_field_tag :owner_id, params[:owner_id], id: nil
    = f.actions
      = f.action :submit, as: :button, label: "Создать текстовый блок"
      = f.action :cancel, as: :link, label: "Отменить"