@import "../base/mixins";

.footer {
  margin-top: auto;
  background-color: $clr-black;
  padding-top: 6.5rem;
  padding-bottom: 4rem;
  color: $clr-yellow;
}

.footer__top {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7rem;
}

.footer__socials {
  grid-column: 3 / 5;

  @include media-down($small) {
    grid-column: 1 / 8;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.socials__link {
  display: block;
  color: $clr-yellow;
  margin-right: 2.4rem;

  & > svg {
    width: 3.6rem;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    color: $clr-white;
  }
}

.footer__contacts {
  text-align: right;

  grid-column: -1 / -5;

  @include media-down($small) {
    grid-column: -1 / -9;
  }
}

.footer__nav .nav__link{
  color: $clr-yellow;

  &:hover,
  &:focus {
    color: $clr-white;
  }
}

.footer__nav {
  grid-column: 5 / 15;
}

.footer__bottom {
  border-top: 1px solid $clr-yellow;
  padding-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  grid-column: 3 / 19;

  @include media-down($small) {
    grid-column: 1 / 19;
  }
}

.footer__text {
  margin-bottom: 0.8rem;
  font-size: 1.6rem;
  line-height: 2.1rem;

  &.right {
    text-align: right;
  }
}

.footer__proektmarketing {
  color: $clr-yellow;

  &:hover,
  &:focus {
    color: $clr-white;
  }
}

.footer__tel {
  color: $clr-yellow;
  font-size: 2rem;
  line-height: 2.2rem;
  white-space: nowrap;
  display: block;
  margin-bottom: 2.6rem;

  &:hover,
  &:focus {
    color: $clr-white;
  }
}
