@import "../base/mixins";

.header {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  display: flex;
  justify-content: space-between;

  @include media-down($x-small) {
    padding-top: 3.6rem;
    padding-bottom: 3.6rem;
  }
}

.header__logo {
  display: block;
  color: $clr-black;
  width: 17.5rem;

  &:hover,
  &:focus {
    color: $clr-black;
  }

  > svg {
    //transition: color 0.2s;
    max-width: 100%;
    transform: translateY(-7px);
  }

  grid-column: 1 / 4;

  @include media-down($small) {
    grid-column: 1 / 8;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  grid-column: 5 / 15;

  @include media-down($small) {
    display: none;
  }
}

.nav__link,
.search-link {
  color: $clr-black;
  display: block;
  font-size: 2rem;
  line-height: 125%;
  white-space: nowrap;

  &:hover,
  &:focus {
    color: $clr-yellow;
  }
}

.nav__link {
  margin-right: 6.4rem;
  &.active {
    color: $clr-yellow;
  }
}

.search-link {
  margin-right: 3.2rem;
}

.header__tools {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 15 / 19;

  @include media-down($small) {
    grid-column: 8 / 19;
  }
}

.header__tool--menu {
  margin-right: 40px;
  display: none;

  @include media-down($small) {
    display: block;
  }

  @include media-down($xx-small) {
    margin-right: 8px;
  }
}

.header__tool--search {
  @include media-down($small) {
    display: none;
  }
}

.basket__count {
  color: $clr-yellow;
}
