@import "../base/mixins";

.home-slogan {
  font-size: 6.2rem;
  line-height: 125%;
  grid-column-start: 5;
  grid-column-end: 19;
  max-width: 58rem;
  margin-bottom: 6.4rem;

  @include media-down($small) {
    grid-column-start: 1;
  }

  @include media-down($x-small) {
    font-size: 28px;
  }
}

.promo-text-center {
  font-size: 4rem;
  line-height: 125%;
  grid-column: 5 / 15;
  hyphens: auto;

  @include media-down($small) {
    grid-column: 1 / 15;
  }

  @include media-down($x-small) {
    grid-column: 1 / 19;
  }
}
