@import "mixins";

body, html {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;

  @include media-down($large) {
    font-size: 45.4545%;
  }

  @include media-down($medium) {
    font-size: 50%;
  }

  @include media-down($x-small) {
    font-size: 40%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font;
  font-weight: normal;
  color: $clr-black;
  font-size: 1.8rem;
  line-height: 125%;
  height: 100%;
}

::selection {
  background-color: rgba(0, 60, 63, 0.99);
  color: $clr-yellow;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
}

a:hover,
a:focus {
  color: $clr-yellow;
}

figure {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

@-ms-viewport { width: device-width; }

/* form basis */
/*!
 * Forms base styles
 *  taken from Bootstrap v3.2.0 | MIT License | getbootstrap.com
 */

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 1em;
  line-height: inherit;
  font-weight: bold;
  border: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

/* end form basis */
.main-content {
  padding-top: 6rem;
  padding-bottom: 12rem;

  &.p-0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include media-down($medium-2) {
    padding-bottom: 9.7rem;
  }

  @include media-down($x-small) {
    padding-top: 4.4rem;
    padding-bottom: 48px;
  }
}

h1,
.h1-title {
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 125%;
  grid-column: 5 / 16;
  margin-top: 0;
  margin-bottom: -2rem; //fix gap between title and block

  @include media-down($small) {
    grid-column: 1 / 19;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

.title-sup {
  grid-column: 1/4;
  font-size: 2rem;
  line-height: 125%;
  color: $clr-yellow;
  margin-top: auto;

  @include media-down($small) {
    grid-column: 1/19;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.accent-in-text {
  color: $clr-yellow;
  display: inline-block;
  transition: color 0.2s;
}

a.accent-in-text:hover {
  color: $clr-black;
}

.link-in-text {
  display: inline-block;
  color: $clr-black;

  &:hover {
    color: $clr-yellow;
  }
}

// Анимация перехода по страницам
.animation-change-page-appear {
  opacity: 0.01;
}

.animation-change-page-appear.animation-change-page-appear-active {
  opacity: 1;
  transition: opacity .8s ease-in;
}

// Анмиация opacity
.opacity-animation-enter {
  opacity: 0.01;
}

.opacity-animation-enter.opacity-animation-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.opacity-animation-leave {
  opacity: 1;
}

.opacity-animation-leave.opacity-animation-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.btn-up {
  position: fixed;
  z-index: 100;
  bottom: -100.5rem;
  left: 12rem;
  transition: all 0.7s;
  cursor: pointer;
  //stroke: $clr-yellow;
  outline: none;

  & > svg {
    width: 3.2rem;
    height: 10.6rem;
  }

  @include media-down($small) {
    display: none;
  }
}

.btn-up__transition {
  bottom: 10.5rem;
}

.admin-link {
  margin-right: 1rem;
  &:hover {
    color: $clr-white;
  }
  &:visited {
    color: $clr-white;
    background-color: $clr-black;
  }
}

.hr {
  width: 100%;

  border: none;
  color: $clr-line-gray;
  background-color: $clr-line-gray;
  height: 1px;
  margin-top: 0;
  margin-bottom: 2.4rem;
}
