//
//.content {
//  text-align: left;
//  overflow: hidden;
//  font-size: 1.8rem;
//  line-height: 2.7rem;
//  color: $clr-black--hsb20;
//  letter-spacing: 0.02em;
//  max-width: 124rem;
//}
////.content > * {
////  max-width: $content-max-width;
////  margin-left: auto;
////  margin-right: auto;
////  @media (max-width: ($content-max-width + 24px)) {
////    max-width: 90%;
////    max-width: calc(100% - 24px);
////  }
////}
//.content p {
//  margin-top: 0;
//  margin-bottom: 3rem;
//}
//
//.content p.p-accent {
//  color: $clr-gold;
//  font-size: 2rem;
//  line-height: 2.9rem;
//}
//
//.content .big-text {
//  margin-top: 0;
//  margin-bottom: 6.4rem;
//  font-size: 2.6rem;
//  line-height: 3.2rem;
//}
//
//.content ul {
//  margin-bottom: 3rem;
//}
//
//.content li {
//  padding-left: 3rem;
//  position: relative;
//  margin-bottom: 0.5rem;
//  font-size: 1.8rem;
//  line-height: 2.6rem;
//
//  &::before {
//    content: "";
//    display: block;
//    position: absolute;
//    left: 0;
//    top: 1rem;
//    width: 10px;
//    height: 1px;
//    border-radius: 0;
//    background-color: $clr-black--hsb20;
//  }
//}
//
////
////.content hr {
////  margin-top: 20px;
////  margin-bottom: 20px;
////  border: 0;
////  border-top: 1px solid $clr-gray-200;
////}
////
////.content img,
////.content iframe,
////.content video,
////.content object {
////  max-width: 100%;
////}
////
////.content img {
////  width: auto;
////  height: auto;
////}
////
////
////.content p.big-img {
////  display: block;
////  max-width: 100% !important;
////  width: 100%;
////  margin: 0.8667rem auto 1.742rem;
////  & > img {
////    max-width: 100%;
////    width: 100%;
////    height: auto;
////  }
////}
////
////.h0-title {
////  @include font-rem(72px, 80px, $font, 300);
////  color: $clr-purple;
////  margin: 0 0 2rem;
////  @include media-down(xs) {
////    @include font-rem(48px, 57px, $font, 300);
////    margin: 0 0 1.25rem;
////  }
////}
////.content .h0-title {
////  margin: 2.35rem auto;
////}
////.content h1, .h1-title {
////  @include font-rem(48px, 57px, $font, 300);
////  color: $clr-purple;
////  margin: 3.125rem auto 1.125rem;
////}
////
////.content h2, .h2-title {
////  @include font-rem(32px, 46px, $font, 300);
////  color: $clr-purple;
////  margin: 2.083rem auto 0.8333rem;
////}
////
////.content h3, .h3-title {
////  @include font-rem(24px, 34px, $font, 300);
////  color: $clr-purple;
////  margin: 1.167rem auto 0.7083rem;
////}
////
////.content h4, .h4-title,
////.content h5, .h5-title,
////.content h6, .h6-title {
////  @include font-rem(24px, 26px, $font);
////  color: $clr-purple;
////  margin: 1.833rem auto 0.6667rem;
////}
////
////p.accent {
////  @include font-rem(32px, 46px, $font);
////  margin: 2.833rem auto;
////  color: $clr-purple;
////}
////
////.content small, .small { font-size: 75%; }
////
////.content ul, .content ol {
////  margin:  0.6667rem auto 1.167rem;
////  display: block;
////  @include font-rem(24px, 36px, $font);
////  padding: 0;
////  li {
////    display: list-item;
////    color: $clr-gray-500;
////    padding: 0.2em 0 0.12em 1em;
////    position: relative;
////    margin-left: -1em;
////    max-width: 73%;
////    @media (max-width: ($content-max-width + 24px)) {
////      margin-left: 0;
////      max-width: 100%;
////    }
////    &:before {
////      position: absolute;
////      left: 0;
////      top: 0.2em;
////      display: inline-block;
////      width: 1em;
////      color: $clr-purple;
////    }
////
////  }
////}
////.content ul {
////  li {
////    &:before {
////      content: "—";
////    }
////  }
////}
////.content ol {
////  counter-reset:li;
////  li {
////    &:before {
////      content:counter(li);
////      counter-increment:li;
////    }
////  }
////}
////
////.content dl { margin-top: 0; margin-bottom: 20px; }
////.content dt, .content dd { line-height: 1.42857143; }
////.content dt { font-weight: bold; }
////.content dd { margin-left: 0; }
////
////.content abbr[title],
////.content abbr[data-original-title] {
////  cursor: help;
////  border-bottom: 1px dotted #777; }
////
////.content blockquote {
////  color: $clr-purple;
////
////}
////
////.content address {
////  margin-bottom: 20px;
////  font-style: normal;
////  line-height: 1.42857143; }
////
////.content code, .content kbd, .content pre, .content samp {
////  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
////}
////.content code {
////  padding: 2px 4px;
////  font-size: 90%;
////  color: #c7254e;
////  background-color: #f9f2f4;
////  border-radius: 4px; }
////.content kbd {
////  padding: 2px 4px;
////  font-size: 90%;
////  color: #fff;
////  background-color: #333;
////  border-radius: 3px;
////  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
////  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
////}
////.content kbd kbd {
////  padding: 0;
////  font-size: 100%;
////  -webkit-box-shadow: none;
////  box-shadow: none;
////}
////.content pre {
////  display: block;
////  padding: 9.5px;
////  margin: 0 0 10px;
////  font-size: 13px;
////  line-height: 1.42857143;
////  color: #333;
////  word-break: break-all;
////  word-wrap: break-word;
////  background-color: #f5f5f5;
////  border: 1px solid #ccc;
////  border-radius: 4px; }
////.content pre code {
////  padding: 0;
////  font-size: inherit;
////  color: inherit;
////  white-space: pre-wrap;
////  background-color: transparent;
////  border-radius: 0;
////}
////
///* TABLE */
//.content table {
//  width: 100%;
//  background-color: transparent;
//  border-collapse: collapse;
//  border-spacing: 0;
//  border: none;
//  margin-bottom: 10rem;
//
//  caption {
//    color: $clr-black--hsb20;
//    text-align: left;
//    margin: 10rem 0 4rem;
//    font-size: 2rem;
//    line-height: 2.9rem;
//  }
//  td {
//    vertical-align: top;
//  }
//  th, td {
//    padding:  2rem;
//    box-sizing: border-box;
//    text-align: center;
//    border: 1px solid $clr-gray--30;
//  }
//  th:first-child,
//  td:first-child {
//    text-align: left;
//    padding-left: 0;
//    border-left: none;
//  }
//
//  th:last-child,
//  td:last-child {
//    border-right: none;
//  }
//
//  tr:first-child th {
//    border-top: none;
//    padding-bottom: 1rem;
//  }
//
//  tr:last-child td {
//    border-bottom: none;
//  }
//
//  thead td, th {
//    color: $clr-black--hsb85;
//    letter-spacing: 0.04em;
//    font-size: 1.5rem;
//    border-bottom: 2px solid $clr-gold;
//    white-space: nowrap;
//  }
//
//  @include media-down($medium) {
//    tr {
//      display: block;
//      padding: 0;
//      margin: 0.5rem 0;
//      border-bottom: 1px solid $clr-gray--30;
//      &:first-child {
//        border-top: 1px solid $clr-orange;
//      }
//    }
//    td {
//      display: block;
//      text-align: left !important;
//      border: none !important;
//      padding: 1rem 0.8rem 1rem 0;
//      position: relative;
//      width: 100% !important;
//      vertical-align: top;
//      &::before {
//        content: attr(data-th) ": ";
//        color: $clr-gold;
//        display: block;
//        box-sizing: border-box;
//        margin-left: 0;
//      }
//    }
//    thead, th {
//      display: none;
//    }
//  }
//}
//
/////* end TABLE */
