$font: 'Graphik-Regular-Web', 'Arial', sans-serif;

//Сolor palette:
$clr-black: #000000;
$clr-emerald: #003C3F;
$clr-yellow: #FDB913;
$clr-light-blue: #D9F5F6;
$clr-gray: #F5F5F5;
$clr-white: #FFFFFF;
$clr-text-gray: #808080;
$clr-line-gray: #EAEAEA;
$clr-errors-red: #F56464;
$clr-text-black: #424242;

//Main breakpoints:
$xx-small: 420px;
$x-small: 600px;
$small: 900px;
$medium: 1100px;
$medium-2: 1200px;
$large: 1500px;
$x-large: 1800px;
$xx-large: 2150px;


@mixin media-up($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-down($breakpoint) {
  @media (max-width: ($breakpoint - 0.02)) {
    @content;
  }
}

@mixin media-between($breakpoint-from, $breakpoint-to) {
  @media (min-width: $breakpoint-from) and (max-width: ($breakpoint-to - 0.02)) {
    @content;
  }
}
