@import "../base/mixins";

.about__main-image {
  grid-column: 3 / 19;
  margin-bottom: 7.2rem;

  @include media-down($medium) {
    grid-column: 1 / 19;
  }
  //
  //@include media-down($small) {
  //  margin-bottom: 7.2rem;
  //}
}

.about__header {
  margin-bottom: 7.2rem;
}

.about__header, .about__aim-header {
  @include media-down($medium) {
    grid-column: 5/19;
  }

  @include media-down($small) {
    grid-column: 1/19;
  }

  @include media-down($x-small) {
    font-size: 28px;
  }
}

.about-container {
  @include media-down($medium) {
    padding: 0;
  }
}

.about__aim-header {
  margin-bottom: 1rem;
}

.two-blocks {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-column: 3/16;
  grid-row-gap: 2.4rem;

  @include media-down($medium) {
    grid-column: 3/19;
  }

  @include media-down($x-small) {
    grid-column: 1/19;
  }
}

.two-blocks__header {
  grid-column: 1/16;
  font-size: 2.8rem;
  color: $clr-yellow;
  margin-bottom: 1.1rem;
  margin-top: 0;
}

.two-blocks__items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/16;
  grid-column-gap: 11.7rem;
  @include media-down($x-small) {
    grid-template-columns: 1fr;
    gap: 3.4rem 0;
  }
}

.two-blocks__block {
  font-size: 2rem;
  color: $clr-yellow;
  line-height: 140%;
}

.portfolio {
  border-top: 1px solid $clr-yellow;
  border-bottom: 1px solid $clr-yellow;
  display: grid;
  grid-column: 5/19;
  padding-top: 4.8rem;
  padding-bottom: 5rem;

  @include media-down($small) {
    grid-column: 3/19;
  }

  @include media-down($x-small) {
    grid-column: 1/19;
  }
}

.portfolio__header {
  margin-top: 0;
  margin-bottom: 0.7rem;
  color: $clr-yellow;
  font-size: 4.2rem;
  line-height: 140%;
}

.portfolio__item {
  color: $clr-white;
  position: relative;
  font-size: 4rem;
  line-height: 140%;
  margin-bottom: 0.4rem;
  &::before {
    content: "";
    display: inline-block;
    width: 3.5rem;
    height: 3px;
    background-color: $clr-yellow;
    position: absolute;
    left: -6.1rem;
    top: 50%;
    transform: translateY(-50%);
  }
  &:last-child {
    margin-bottom: 0;
  }
  & > a {
    color: $clr-white;
    transition: color 0.2s;

    &:hover {
      color: $clr-yellow;
    }
  }
}

.advantages {
  font-size: 4rem;
  line-height: 140%;
  color: $clr-yellow;
  grid-column: 3/19;
  margin-bottom: 4.5rem;

  @include media-down($small) {
    grid-column: 1/19;
    font-size: 3.4rem;
    margin-bottom: 0;
  }
}

.advantage-items {
  display: grid;
  grid-column: 3/16;
  grid-template-columns: 1fr 1fr;
  gap: 10.3rem 12.2rem;
  margin-bottom: 3rem;
  @include media-down($medium) {
    gap: 3.7rem 12.2rem;
    grid-column: 3/19;
  }
  @include media-down($small) {
    grid-column: 1/19;
    gap: 3.7rem 6.2rem;
  }
  @include media-down($xx-small) {
    grid-template-columns: 1fr;
  }
}

.advantage-item {
  color: $clr-yellow;
}

.advantage-item__image {
  margin-bottom: 4.8rem;

  img {
    width: 35rem;
    height: auto;

    @include media-between($xx-small, $small) {
      width: 20rem;
    }
  }
}

.advantage-item__header {
  font-size: 2.8rem;
  margin-top: 0;
  margin-bottom: 1.6rem;
  line-height: 140%;
}

.advantage-item__description {
  font-size: 2rem;
  line-height: 140%;
}

.about-series {
  grid-column: 5/19;
  display: grid;
  gap: 0 21.3rem;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 3.3rem;

  @include media-down($medium) {
    gap: 0 10rem;
  }

  @include media-down($small) {
    gap: 0 5rem;
    grid-column: 1/19;
  }

  @include media-down($x-small) {
    grid-template-columns: 1fr;
    gap: 6.4rem 0;
  }
}

.about-series__item {
  max-width: 54.4rem;
  height: auto;

  @include media-down($x-small) {
    max-width: 100%;
  }
}

.about-furniture {
  grid-column: 3/19;
  line-height: 140%;
  font-size: 4rem;
  color: $clr-yellow;

  @include media-down($small) {
    grid-column: 1/19;
    font-size: 3rem;
  }
}
