@import "../base/mixins";

.accordion {
  margin-bottom: 4.8rem;
}

.accordion__body {
  display: block;
  opacity: 0;
  height: 0;
  padding-left: 9.4rem;
  max-width: 86rem;
  //padding-right: 9.4rem;

  @include media-down($medium) {
    padding-left: 6.4rem;
  }

  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
  transition: all 0.2s;
  overflow: hidden;
}

.accordion__input:checked ~ .accordion__body {
  display: block;
  opacity: 1;
  height: initial;
  padding-bottom: 2.4rem;
}

.accordion__item {
  position: relative;
  border-top: 1px solid $clr-line-gray;
  border-bottom: 1px solid $clr-line-gray;
  margin-bottom: -1px;
}

.accordion__svg {
  position: absolute;
  right: 0;
  top: 3.2rem;
  transition: all 0.2s;
  z-index: -1;
  width: 1.6rem;
  height: 1rem;
  transform: rotate(0);
}

.accordion__input:checked ~ .accordion__svg {
  transform: rotate(180deg);
}

.accordion__title {
  color: $clr-black;
  font-size: 1.6rem;
  line-height: 125%;
  cursor: pointer;
  transition: color 0.2s;
  width: 100%;
  display: block;
  padding: 2.5rem 2.4rem 2.4rem 9.4rem;
  position: relative;

  @include media-down($medium) {
    padding: 2.5rem 2.4rem 2.4rem 6.4rem;
  }

  .accordion__circle {
    content: '';
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $clr-line-gray;
    left: 0;
    top: 1.6rem;
  }

  &:hover {
    color: $clr-yellow;
  }
}

.accordion__title:hover ~ .accordion__svg {
  color: $clr-yellow;
}
//
//.accordion__input:checked ~ .accordion__title {
//  color: $clr-yellow;
//}

.accordion__main-title {
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
  margin-bottom: 1.6rem;
}
