@import "../base/mixins";

//.add-basket {
//  margin-top: auto;
//}

.change-color {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  //flex-wrap: wrap;
}

.change-color__title {
  font-size: 1.6rem;
  line-height: 125%;
  margin-bottom: 0.4rem;
}

.change-color__desc {
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
  display: block;
  transition: color 0.2s;
  cursor: pointer;

  &:hover {
    color: $clr-yellow;
  }
}

.change-color__radio {
  margin-top: -9px;

  @include media-down($x-small) {
    margin-top: -4px;
  }
}

.radio-color {
  display: flex;
}

.radio-color__wrap {
  margin-right: 1.2rem;

  &:last-child {
    margin-right: 0;
  }
}

.radio-color__label {
  display: block;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;

  @include media-down($x-small) {
    width: 16px;
    height: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid $clr-yellow;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    z-index: -1;
    opacity: 0;
    transition: all 0.2s;

    @include media-down($x-small) {
      width: 24px;
      height: 24px;
    }
  }
}

.radio-color__input:checked + .radio-color__label {

  &::before {
    z-index: 1;
    opacity: 1;
  }

}

.change-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid $clr-line-gray;
  border-bottom: 1px solid $clr-line-gray;
  margin-bottom: 2.4rem;
}

.input-count {
  display: flex;
}

.input-count__btn {
  height: 5rem;
  width: 4rem;
  background-color: $clr-gray;
  border-radius: 4px;
  position: relative;
  box-shadow: none;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.2s;
  outline: none;

  &:hover,
  &:focus {
    background-color: $clr-yellow;
  }

  & > svg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1.5rem;
    height: 1.6rem;
  }
}

.input-count__field {
  outline: none;
  border-color: transparent;
  box-shadow: none;
  height: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: $clr-gray;
  border-radius: 4px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  width: 8rem;
  text-align: center;
  font-size: 2rem;
  line-height: 2.3rem;
}

.add-basket__footer {
  display: flex;
  justify-content: space-between;
}

.add-basket__desc {
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
  margin-right: 2.4rem;
  max-width: 30rem;
}

.add-basket__submit {
  height: 4.7rem;
}
