@import "../base/mixins";

.btn {
  display: inline-block;
  font-size: 2rem;
  line-height: 2.3rem;
  padding: 1.2rem 1.6rem;
  border-radius: 4px;
  transition: all 0.2s;
  color: $clr-white;
  background-color: $clr-black;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  border: none;
  height: 4.7rem;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
    color: $clr-yellow;
  }
}

.btn--gray {
  background-color: $clr-gray;
  color: $clr-black;

  &:hover {
    color: $clr-black;
  }
}
