@import "../base/mixins";

.card-series {
  margin-bottom: 2.4rem;
  grid-gap: 2.4rem 2.4rem;
}

.card-series__title {
  font-size: 4rem;
  line-height: 125%;
  margin-bottom: 1.6rem;
  grid-column: 1 / 19;
}

.card-goods__img-box {
  grid-column: 1 / 12;
  position: relative;

  @include media-down($x-large) {
    grid-column: 1 / 11;
  }

  @include media-down($medium) {
    grid-column: 1 / 10;
  }

  @include media-down($small) {
    grid-column: 1 / 13;
  }

  @include media-down($x-small) {
    grid-column: 1 / 19;
  }
}

.card-goods__content {
  grid-column: 13 / 19;
  display: flex;
  flex-direction: column;

  @include media-down($x-large) {
    grid-column: 12 / 19;
  }

  @include media-down($medium) {
    grid-column: 11 / 19;
  }

  @include media-down($small) {
    grid-column: 1 / 19;
  }
}

.card-info__title {
  font-size: 4rem;
  line-height: 125%;
  margin-bottom: 2.4rem;

  @include media-down($small) {
    display: none;
  }
}

.card-goods .card-info__title {
  display: block;
}

.card-info__desc {
  font-size: 1.4rem;
  line-height: 140%;
  color: $clr-text-gray;
  margin-bottom: 4.2rem;

  @include media-down($xx-small) {
    font-size: 14px;
  }
}

.card-info__desc + .card-info__size {
  margin-top: -4.4rem;
}

.card-info__size {
  font-size: 2rem;
  line-height: 125%;
  margin-bottom: 4.8rem;
}

.card-goods__back {
  color: $clr-black;
  display: flex;
  align-items: center;
  width: 110px;
  position: absolute;
  left: 3.6rem;
  top: 3.6rem;
  cursor: pointer;

  &:hover {
    color: $clr-yellow;
  }

  & > a {
    font-size: 2rem;
    line-height: 2.2rem;
    color: inherit;
    display: block;
  }

  & > div {
    transition: color 0.2s;
  }

  & > svg {
    transition: color 0.2s;
    display: block;
    margin-right: 1.8rem;
    width: 1.9rem;
    height: 3.2rem;
  }
}

.card-series__img-box {
  grid-column: 1 / 12;
  position: relative;

  @include media-down($small) {
    grid-column: 1 / 13;
  }

  @include media-down($x-small) {
    grid-column: 1 / 19;
  }
}

.card-series__content {
  grid-column: 13 / 19;

  @include media-down($small) {
    grid-column: 1 / 19;
  }
}

.card-series__goods {
  grid-column: 1 / 19;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 2.4rem;

  @include media-down($small) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-down($x-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-down($xx-small) {
    grid-gap: 8px;
  }
}

.goods-series__item {
  position: relative;

  & .goods-series__img {
    border: 1px solid transparent;
    transition: border 0.2s;
  }

  &:hover {
    & .goods-series__img {
      border: 1px solid $clr-yellow;
    }

    & > .goods-series__title {
      color: $clr-yellow;
    }
  }

  & > .goods-series__title {
    position: absolute;
    z-index: 1;
    top: 1.2rem;
    left: 1.2rem;
    color: $clr-text-gray;
    font-size: 1.6rem;
    transition: color 0.2s;
  }
}

// Вертикальная карточка серии
.card-series.card-series--vertical {

  &.two-column {
    grid-gap: 2.4rem 4.8rem;

    @include media-down($small) {
      grid-gap: 2.4rem 2.4rem;
    }
  }

  .card-series__img-box {
    grid-column: 1 / 8;

    @include media-down($small) {
      grid-column: 1 / 10;
    }

    @include media-down($x-small) {
      grid-column: 1 / 19;
    }
  }

  .card-series__goods {
    grid-column: 9 / 12;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row: 1 / 2;
  }

  .card-series__goods.two-column {
    grid-column: 8 / 13;
    grid-template-columns: repeat(2, 1fr);

    @include media-down($small) {
      grid-column: 10 / 19;
    }

    @include media-down($x-small) {
      grid-column: 1 / 19;
      grid-row: initial;
      grid-template-rows: initial;
    }
  }
}


