@import "../base/mixins";

.catalog {
  display: grid;
  grid-column: 3 / 19;
  grid-template-columns: repeat(3, 1fr);
  gap: 9.6rem 14%;

  @include media-down($small) {
    grid-column: 1 / 19;
    gap: 7.2rem 7%;
  }

  @include media-down($x-small) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem 8px;
  }
}

.catalog__category {
  grid-column: 1 / 4;
  padding-bottom: 1.6rem;
  font-size: 2rem;
  line-height: 140%;
  border-bottom: 1px solid $clr-line-gray;

  @include media-down($x-small) {
    grid-column: 1 / 3;
  }
}

.catalog__img {
  margin-bottom: 2.4rem;
  display: block;
}

.catalog__title {
  margin-bottom: 0.8rem;
  font-size: 2.8rem;
  line-height: 125%;
  display: block;
  color: $clr-black;
  transition: color 0.2s;
}

.catalog__item:hover {
  .catalog__title {
    color: $clr-yellow;
  }
}

.catalog__desc {
  color: $clr-text-gray;
  font-size: 2rem;
  line-height: 140%;
}

.catalog + .catalog {
  margin-top: -6rem; //fix for title margin-bottom
}

// Vertical card
.catalog.catalog--vertical {
  grid-template-columns: repeat(16, 1fr);
  gap: 0 2.4rem;

  .catalog__item:nth-child(n) {
    grid-column: 2 / 8;
  }

  .catalog__item:nth-child(2n) {
    grid-column: 10 / 16;
  }

  @include media-down($x-small) {
    .catalog__item {
      grid-column: 1 / 17!important;
      margin-bottom: 6.4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.empty__list {
  display: grid;
  grid-column: 3/19;
}

// Catalog slider mobile
.catalog-slider-mobile {
  grid-column: 1 / 19;
  padding-left: 40px;
  padding-right: 40px;

  @include media-down($xx-small) {
    padding-left: 8px;
    padding-right: 8px;
  }

  .swiper-container {
    width: 100%;
    max-height: initial;
    grid-column: initial;
  }
}

.cards-mobile-slider {
  @include media-down($x-small) {
    padding-left: 0!important;
    padding-right: 0!important;
  }
}

.swiper-pagination--catalog {
  bottom: 15%!important;
}
