@import "../base/mixins";

.container {
  padding-right: 12rem;
  padding-left: 12rem;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  @include media-down($large) {
    padding-right: 80px;
    padding-left: 80px;
  }

  @include media-down($medium) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include media-down($xx-small) {
    padding-right: 8px;
    padding-left: 8px;
  }
}
//
//.container--center {
//  display: flex;
//  justify-content: center;
//}
