@import "../base/mixins";

.contacts {
  grid-column: 5/10;

  @include media-down($small) {
    grid-column: 1/10;
  }

  @include media-down($x-small) {
    grid-column: 1/17;
  }

  @include media-down($xx-small) {
    grid-column: 1/19;
  }
}

.contacts__header {
  font-size: 2.8rem;
  line-height: 125%;
  color: $clr-text-gray;
}

.contacts__info {
  font-size: 2.8rem;
  line-height: 125%;
}

.contacts__phone {
  white-space: nowrap;
}

.link {
  color: $clr-black;

  &:hover {
    color: $clr-yellow;
  }
}
