@import "../base/mixins";

.grid-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 12.4rem 2.4rem;

  @include media-down($large) {
    grid-gap: 9.6rem 2.4rem;
  }
}

.grid-container.card-goods {
  @include media-down($small) {
    grid-gap: 4.8rem 2.4rem!important;
  }
}

.grid-main-slider-container {
  display: grid;
  grid-gap: 0 7rem;
  grid-template-columns: repeat(20, 1fr);

  @include media-up($xx-large) {
    grid-template-columns: repeat(18, 1fr);
    grid-gap: 0 2.4rem;
    padding-right: 12rem;
    padding-left: 12rem;
  }

  @include media-down($medium-2) {
    grid-gap: 0 2.4rem;
    grid-template-columns: repeat(19, 1fr);
  }

  @include media-down($medium) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include media-down($xx-small) {
    padding-right: 8px;
    padding-left: 8px;
  }
}

.short-grid-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 10rem 2.4rem;
}

.vtrg-container {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 7.2rem 2.4rem;

  @include media-down($small) {
    grid-gap: 4.2rem 2.4rem;
  }

  @include media-down($xx-small) {
    grid-gap: 2.4rem;
  }
}
