@import "../base/mixins";

.carousel {
  grid-column: 3 / 20;
}

.custom-slider {
  grid-column: 6 / 21;
  position: relative;
  max-width: 1653px;
  row-gap: 72px;

  @include media-down($medium-2) {
    grid-column: 6 / 20;
  }

  @include media-up($xx-large) {
     grid-column: 5 / 18;
  }
}

.custom-slider__slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
}

.custom-slider__slide-1 {
  z-index: 4;
  transform: translate(-195px, 72px);
}

.custom-slider__slide-2 {
  z-index: 3;
  transform: translate(-130px, 48px);
}

.custom-slider__slide-3 {
  z-index: 2;
  transform: translate(-65px, 24px);
}

.custom-slider__slide-4 {
  z-index: 1;
}

.custom-slider__slide-2,
.custom-slider__slide-3,
.custom-slider__slide-4 {
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 60, 63, 0.7);
    transition: background-color 0.2s;
  }

  &:hover::before {
    background-color: rgba(0, 60, 63, 0);
  }
}

// Первоначальный монтаж
.animation-slide-appear {
  &:nth-child(1) {
    opacity: 0.01;
    transform: translate(-195px, 72px);
  }
  &:nth-child(2) {
    opacity: 0.01;
    transform: translate(-195px, 72px);
  }
  &:nth-child(3) {
    opacity: 0.01;
    transform: translate(-195px, 72px);
  }
  &:nth-child(4) {
    opacity: 0.01;
    transform: translate(-195px, 72px);
  }
}

.animation-slide-appear.animation-slide-appear-active {
  opacity: 1;

  &:nth-child(1) {
    transform: translate(-195px, 72px);
    transition: all 0.7s ease-out;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    transition: all 0.3s ease-out;
    transition-delay: 0.4s;
  }

  &:nth-child(2) {
    transform: translate(-130px, 48px);
  }
  &:nth-child(3) {
    transform: translate(-65px, 24px);
  }
  &:nth-child(4) {
    transform: translate(0, 0);
  }
}

// Анимация на появление
.animation-slide-enter {
  &:nth-child(1) {
    opacity: 0.5;
    transform: translate(-195px, 72px);
  }
  &:nth-child(2) {
    opacity: 0.01;
    transform: translate(-195px, 72px);
  }
  &:nth-child(3) {
    opacity: 0.01;
    transform: translate(-195px, 72px);
  }
  &:nth-child(4) {
    opacity: 0.01;
    transform: translate(-195px, 72px);
  }
}

.animation-slide-enter.animation-slide-enter-active {
  opacity: 1;

  &:nth-child(1) {
    transform: translate(-195px, 72px);
    transition: all 0.7s ease-out;
  }

  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    transition: all 0.3s ease-out;
    transition-delay: 0.4s;
  }

  &:nth-child(2) {
    transform: translate(-130px, 48px);
  }
  &:nth-child(3) {
    transform: translate(-65px, 24px);
  }
  &:nth-child(4) {
    transform: translate(0, 0);
  }
}

// Анимация исчезновения
.animation-slide-leave {
  opacity: 1;
}

.animation-slide-leave.animation-slide-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// Анимация opacity
.animation-slide-title-enter {
  opacity: 0.01;
}

.animation-slide-title-enter.animation-slide-title-enter-active {
  opacity: 1;
  transition: opacity 700ms ease-in;
}

.animation-slide-title-leave {
  opacity: 1;
}

.animation-slide-title-leave.animation-slide-title-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

// Остальные стили слайдера
.custom-slider__title {
  position: absolute;
  bottom: -110px;
  left: 0;
}

.custom-slider__title-link {
  display: block;
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;

  &:hover,
  &:focus {
    color: $clr-yellow;

    .accent-project-word {
      color: $clr-yellow;
    }
  }

  @include media-down($x-small) {
    font-size: 12px;
  }
}

.custom-slider__title-link--mobile {
  padding-top: 0.8rem;
  grid-column: 5 / 15;

  @include media-down($small) {
    grid-column: 1 / 15;
  }
}

.img-for-adaptive-hidden {
  opacity: 0;
}

.accent-project-word {
  color: $clr-black;
  transition: color 0.2s;
}

/// Mobile slider
.custom-slider-mobile {
  grid-column: 1 / 20;
  margin-bottom: 4.8rem;
}


.swiper-pagination {
  bottom: 6%!important;

  .swiper-pagination-bullet {
    background-color: $clr-white!important;
    opacity: 1;
  }

  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: $clr-yellow!important;
  }

}

.swiper-wrapper {
  height: auto !important;
}

.swiper-slide {
  width: 100% !important;
}
