@import "../base/mixins";

@keyframes customBaseAnimation {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes customBaseAnimationMobile {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.customBaseAnimation {
  animation-name: customBaseAnimation;
  animation-timing-function: ease-in;

  @include media-down($medium) {
    animation-name: customBaseAnimationMobile;
  }
}


@keyframes customAnimationRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes customAnimationRightMobile {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.customAnimationRight {
  animation-name: customAnimationRight;
  animation-timing-function: ease-in;

  @include media-down($medium) {
    animation-name: customAnimationRightMobile;
  }
}
