@import "../base/mixins";

.next-card {
  background-color: $clr-yellow;
  color: $clr-black;
  transition: all 0.2s;
  margin-top: auto;

  &:hover,
  &:focus {
    background-color: $clr-emerald;
    color: $clr-white;

    .next-card__img img {
      transform: scale(1.1);
    }
  }
}

.next-card .container {
  min-height: 11.7rem;
}

.next-card + .footer {
  margin-top: initial;
}

.next-card__img {
  overflow: hidden;
  height: 11.7rem;

  & > img {
    height: 100%;
    width: auto;
    transition: all 0.2s;
  }
}

.next-card__wrap {
  grid-column: 5 / 19;
  display: flex;
  align-items: center;
}

.next-card__next {
  grid-column: 3 / 5;
  align-items: center;
  display: flex;
  font-size: 1.6rem;
  line-height: 125%;

  @include media-down($small) {
    grid-column: 1 / 5;
  }
}

.next-card__img {
  margin-right: 1.6rem;
}

.next-card__title {
  font-size: 2.8rem;
  line-height: 125%;
}
