@import "../base/mixins";

.notification {
  position: fixed;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 53px 20px 16px;
  background-color: $clr-emerald;
  color: $clr-white;
  z-index: 1000;
  font-size: 16px;
  min-width: 32rem;

  @include media-down($xx-small) {
    width: 100%;
    bottom: 0;
  }
}

.notification__svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  cursor: pointer;
  color: $clr-white;
  transition: color 0.2s;

  &:hover {
    color: $clr-yellow;
  }
}

// Анимация появления и исчезновения
.notification-animate-enter {
  opacity: 0.01;
}

.notification-animate-enter.notification-animate-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.notification-animate-leave {
  opacity: 1;
}

.notification-animate-leave.notification-animate-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
// Анимация появления и исчезновения
