@import "../base/mixins";

.popup {
  position: fixed;
  width: 75rem;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  padding-top: 20.3rem;
  overflow-y: auto;
  background-color: $clr-white;
  display: flex;
  flex-direction: column;

  @include media-down($x-small) {
    width: 100%;
  }
}

.popup.popup-menu {
  background-color: $clr-emerald;

  hr {
    background-color: $clr-yellow;
  }

  .popup__header {
    padding: 6.6rem 8.6rem 5.6rem 8.6rem;

    @include media-down($xx-small) {
      padding: 6.6rem 8px 5.6rem 8px;
    }
  }

  .popup__logo {
    color: $clr-yellow;
  }

  .popup__close {
    border: 1px solid transparent;
    color: $clr-yellow;

    &:hover {
        border: 1px solid $clr-yellow;
    }
  }

  .nav__link {
    color: $clr-yellow;
    font-size: 24px;
    line-height: 134.5%;
    margin-bottom: 16px;

    &.active {
      color: $clr-white;
    }

    &:hover {
      color: $clr-white;
    }
  }

  .socials {
    margin-bottom: 2.4rem;
  }

  .popup__footer {
    @include media-down($xx-small) {
      padding-bottom: 1.6rem;
    }
  }

  .footer__contacts {
    width: 100%;
    text-align: left;
    color: $clr-yellow;
  }

  .footer__text {
    font-size: 10px;
    margin-bottom: 4px;
  }

  .footer__tel {
    font-size: 18px;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: $clr-black;
  opacity: 0.8;
}

.popup__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 6.6rem 12rem 5.6rem 8.6rem;
  align-items: center;
  justify-content: space-between;

  @include media-down($xx-small) {
    padding: 6.6rem 8px 5.6rem 8px;
  }
}

.popup-close__header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  padding: 6.6rem 12rem 5.6rem 8.6rem;
  align-items: center;
  justify-content: space-between;
}

.popup__title {
  font-size: 4rem;
  line-height: 125%;

  @include media-down($small) {
    font-size: 4rem;
  }

  .popup__logo {
    width: 14rem;
    height: auto;
  }
}



.popup__close {
  display: block;
  //background-color: $clr-line-gray;
  border-radius: 50%;
  background-color: transparent;
  width: 8.14rem;
  height: 8.14rem;
  position: relative;
  transition: all 0.2s;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover,
  &:focus {
    //background-color: $clr-yellow;
    outline: none;
    border: 1px solid $clr-black;
  }

  & > svg {
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

// Animation popup
.animation-popup-enter {
  right: -100%;
}

.animation-popup-enter.animation-popup-enter-active {
  right: 0;
  transition: all 500ms ease-in;
}

.animation-popup-leave {
  right: 0;
}

.animation-popup-leave.animation-popup-leave-active {
  right: -100%;
  transition: all 500ms ease-in;
}

// Animation overlay
.animation-overlay-enter {
  opacity: 0.01;
}

.animation-overlay-enter.animation-overlay-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.animation-overlay-leave {
  opacity: 1;
}

.animation-overlay-leave.animation-overlay-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

// Стили для корзины в попапе
.basket-card__item {
  padding: 1.8rem 12rem 1.8rem 8.6rem;
  display: flex;
  align-items: center;
  position: relative;
  transition: background-color 0.2s;

  &:hover {
    background-color: $clr-yellow;

    .basket-card__close {
      opacity: 1;
    }
  }

  @include media-down($xx-small) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.basket-card__img {
  max-width: 16.5rem;
  margin-right: 2.4rem;
  //overflow: hidden;
  //
  //& > img {
  //  transition: transform 0.2s;
  //}
  //
  //&:hover img,
  //&:focus img {
  //  transform: scale(1.1);
  //}
}

.basket-card__title {
  display: block;
  font-size: 2rem;
  line-height: 125%;
  color: $clr-black;
  margin-bottom: 0.8rem;
  padding-left: 2.5rem;
}

.basket-card__color {
  display: flex;
  font-size: 1.6rem;
  line-height: 125%;
  margin-bottom: 0.4rem;
  align-items: center;

  & > span {
    display: block;
    margin-right: 0.8rem;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
  }
}

.basket-card__count {
  padding-left: 2.5rem;
  font-size: 1.6rem;
  line-height: 125%;
}

.basket-card__close {
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  align-items: center;
  right: 12rem;
  top: 1.8rem;
  color: $clr-black;

  &:hover {
    color: $clr-white;
  }

  & > div {
    margin-right: 1.2rem;
  }

  & > svg {
    width: 2.7rem;
    height: 2rem;
  }

  @include media-down($xx-small) {
    right: 8px;
  }
}

.popup__name {
  font-size: 2.8rem;
  line-height: 125%;
  color: $clr-black;
  margin-bottom: 2.4rem;
  margin-top: 0;
}

.popup__description {
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid $clr-line-gray;
  margin-bottom: 2.4rem;
}

.popup__content {
  display: flex;
  padding: 0 12rem 5.6rem 8.6rem;
  justify-content: space-between;
  flex-direction: column;

  @include media-down($xx-small) {
    padding: 0 60px 5.6rem 8px;
  }
}

.input-block {
  margin-bottom: 2.4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-inputs {
  margin-bottom: 6.4rem;
}

.form-input {
  width: 100%;
  box-sizing: border-box;
  min-height: 5.5rem;
  background-color: $clr-gray;
  color: $clr-black;
  padding: 1.6rem 0 1.6rem 2.5rem;
  border: none;
}

.feedback-btn {
  margin-bottom: 1.6rem;
}

.personal-data-hint {
  padding-right: 20%;
  color: $clr-text-gray;
  font-size: 1.2rem;
  line-height: 125%;

  a {
    color: $clr-black;
  }

  a:hover {
    color: $clr-yellow;
  }
}

.form-status {
  padding: 0 18rem 5.6rem 8.6rem;
  font-size: 2.8rem;
  line-height: 125%;
  color: $clr-text-gray;
}

.form-status__header {
  color: $clr-black;
}

.popup-note {
  padding: 10rem 12rem 10rem 8.6rem;
  font-size: 2.8rem;
  line-height: 125%;

  & > .light-text {
    color: $clr-text-gray;
  }

  & > a {
    color: $clr-yellow;
    transition: border-bottom-color 0.2s;

    &:hover,
    &:focus {
      color: $clr-yellow;
      border-bottom: 1px solid $clr-yellow;
    }
  }

  @include media-down($xx-small) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.popup__desc {
  color: $clr-text-gray;
}

.popup__footer {
  margin-top: auto;
  padding: 1rem 12rem 4.3rem 8.6rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > .popup__desc {
    width: 48%;
  }

  @include media-down($xx-small) {
    padding-left: 8px;
    padding-right: 8px;
  }
}

// Popup menu
.popup__menu {
  padding: 0 12rem 5.6rem 8.6rem;

  @include media-down($xx-small) {
    padding: 0 8px 5.6rem 8px;
  }

  .nav__link {
    margin-right: 0;
    font-size: 4rem;
    margin-bottom: 4.4rem;
    color: $clr-black;

    &:hover {
      color: $clr-yellow;
    }

    &.active {
      color: $clr-yellow;
    }
  }
}
