@import "../base/mixins";

.projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column: 3/19;
  gap: 6.4rem 1.6%;

  @include media-down($small) {
    grid-column: 1/19;
  }

  @include media-down($x-small) {
    grid-template-columns: repeat(1, 1fr);
    gap: 12rem 1.6%;
  }
}

.project__border {
  border-top: 1px solid $clr-black;
}

.project__img {
  margin-bottom: 1.6rem;
  display: block;
}

.project__title {
  margin-bottom: 3.6rem;
  font-size: 2rem;
  line-height: 125%;
  display: block;
  padding-top: 1.6rem;
  color: $clr-text-gray;
  transition: color 0.2s;

  .accent-project-word {
    color: $clr-black;
  }
}

.project__item:hover {
  .project__title {
    color: $clr-yellow;
  }
}

.project__description {
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
}

.lightgallery {
  cursor: pointer;
}

.lg-icon.lg-prev,
.lg-icon.lg-next {
  padding: 0!important;
  background-color: transparent!important;
  margin-top: -40px!important;

  &::after,
  &::before {
    display: none;
  }
}

.custom-lightgallery-icon {
  cursor: pointer;
  color: $clr-yellow;

  &:hover > svg {
    color: $clr-white;
  }
}

.lg-toolbar.group {
  background: transparent;
}

.lg-toolbar .lg-close.lg-icon {
  background-image: url("data:image/svg+xml,%3Csvg width='55' height='43' viewBox='0 0 39 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M0.604492 30.2254L16.2246 18.7941C18.4417 17.1473 18.4417 13.8535 16.2246 12.2066L0.604492 0.775391' stroke='%23F6B41E' stroke-width='2' stroke-miterlimit='10' stroke-linejoin='round'/%3E%3Cpath d='M38.3954 0.775391L22.6745 12.2066C20.4575 13.8535 20.4575 17.1473 22.6745 18.7941L38.2947 30.2254' stroke='%23F6B41E' stroke-width='2' stroke-miterlimit='10' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='39' height='31' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }

  &::after {
    content: "";
  }
}
