@import "../base/mixins";

// Анимация появления страницы поиска
.search-popup-animate-appear {
  opacity: 0.9;
}

.search-popup-animate-appear.search-popup-animate-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
// Анимация появления страницы поиска

// Анимация появления блока результатов
.search-popup-result-enter {
  transform: translateY(100%);
}

.search-popup-result-enter.search-popup-result-enter-active {
  transform: translateY(0);
  transition: transform 500ms ease-in;
}
// Анимация появления блока результатов

.search-page {
  min-height: 100vh;
}

.bg-emerald {
  background-color: $clr-emerald;
}

.search-page__header {
  padding-top: 24.5rem;
  padding-bottom: 6.5rem;
  background-color: $clr-emerald;

  @include media-down($x-small) {
    padding-top: 19.5rem;
  }
}

.search-page__input {
  grid-column: 5 / 16;
  background-color: transparent;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: none;
  box-shadow: none;
  color: $clr-yellow;
  font-size: 6.2rem;
  font-weight: 400;
  line-height: 6.2rem;
  white-space: nowrap;

  @include media-down($medium) {
    grid-column: 1 / 16;
  }

  &:hover,
  &:focus {
    border: none;
    box-shadow: none;
    outline: none;
  }

  &::placeholder {
    font-family: inherit;
    color: $clr-yellow;
    font-weight: 400;
    font-size: 6.2rem;
  }
}

.search-page__close {
  z-index: 100;
  position: fixed;
  transition: all 0.2s;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 8.2rem;
  height: 8.2rem;
  right: 12rem;
  top: 6.6rem;
  color: $clr-yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    //color: $clr-white;
    border: 1px solid $clr-yellow;
  }

  & > svg {
    width: 4rem;
    height: 3.2rem;
  }

  @include media-down($medium) {
    right: 4rem;
  }
}

.search-page__catalog {
  padding-top: 6.4rem;
  padding-bottom: 6.4rem;
  grid-column: 5 / 19;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7.2rem 10%;

  @include media-down($medium) {
    grid-column: 1 / 19;
  }

  @include media-down($small) {
    gap: 7.2rem 5%;
  }

  @include media-down($x-small) {
    grid-template-columns: 1fr;
  }


}

.search-page__title {
  margin-top: 6.4rem;
  font-size: 2rem;
  grid-column: 3 / 5;

  @include media-down($medium) {
    display: none;
  }
}
