@import "../base/mixins";

.social-photo {
  grid-column: 3 / 19;

  @include media-down($small) {
    grid-column: 1 / 19;
  }
}

.social-photo__title {
  color: $clr-text-gray;
  font-size: 2rem;
  line-height: 125%;
  margin-bottom: 2.4rem;
  border-bottom: 1px solid $clr-line-gray;
  padding-bottom: 1.8rem;
}

.social-photo__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.4rem 2.4rem;

  @include media-down($x-small) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-down($xx-small) {
    gap: 8px;
  }
}

.social-photo__item {
  padding-bottom: 100%;
  position: relative;
  background-color: $clr-gray;
  transition: border 0.2s;
}

.social-photo__image {
  position: absolute;
  object-fit: cover;
  height: 100%;
  transition: 0.2s;
  left: 0;
  top: 0;
}
