@import "../base/mixins";

.tooltipe {
  //margin-top: auto;
  margin-bottom: 0.4rem;
  max-width: 395px;
  display: flex;
}

.tooltipe + .add-basket {
  margin-top: initial;
}

.tooltipe__text {
  margin-right: 0.8rem;
  border: 1px solid $clr-line-gray;
  padding: 2.4rem 4.2rem 2.4rem 2.4rem;
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
}

.tooltipe__close {
  width: 4rem;
  height: 4rem;
  border: 1px solid $clr-line-gray;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
  cursor: pointer;
  transition: border 0.2s;

  &:hover {
    border: 1px solid $clr-yellow;
  }

  & > svg {
    width: 2.8rem;
    height: 2.1rem;
    position: absolute;
    color: $clr-yellow;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
