Здравствуйте. Пришел запрос обратной связи с сайта URFO:

Имя отправителя: <%= @name %>
email: <%= @email %>
Телефон: <%= @phone.present? ? @phone : "не указан" %>

Желаю Вам хорошего дня и успехов в работе,
Робот сайта URFO.