| Здравствуйте. Пришел запрос обратной связи с сайта URFO:
p
  = "Имя отправителя: #{@name}"
p
  = "email: #{@email}"
p
  = "Телефон: #{@phone.present? ? @phone : 'не указан'}"

p Желаю Вам хорошего дня и успехов в работе,
| Робот сайта URFO.