| Здравствуйте. Пришел запрос стоимости заказа с сайта URFO:
p
  = "Имя отправителя: #{@order.name}"
p
  = "email: #{@order.email}"
p
  = "Телефон: #{@order.phone.present? ? @order.phone : 'не указан'}"
p
  = "Состав заказа: "
div
  - @order.order_goods.each do |order_good|
    = "Товар: #{order_good.good.title}"
    br
    = "Цвет: #{order_good.good_color.color.title}"
    br
    = "Количество: #{order_good.count}"
    p

= "Заказ создан: #{@order.created_at}"

p Желаю Вам хорошего дня и успехов в работе,
| Робот сайта URFO.
