Здравствуйте. Пришел запрос стоимости заказа с сайта URFO:

Имя отправителя: <%= @name %>
email: <%= @email %>
Телефон: <%= @phone.present? ? @phone : "не указан" %>

Состав заказа:
<%- @order.order_goods.each do |order_good| %>
  <%= "Товар: #{order_good.good.title}" %>
  <%= "Цвет: #{order_good.good_color.color.title}" %>
  <%= "Количество: #{order_good.count}" %>
<% end %>

<%= "Заказ создан: #{@order.created_at}" %>

Желаю Вам хорошего дня и успехов в работе,
Робот сайта URFO.
