//@import "mixins";
//
// ! Stylesheets for Virtage edit state conponents
//

.vtrg-new-block-kinds {

  & > span {
    width: 45px;
    height: 64px;
    display: none;
  }

  .icon--ei-plus {
    top: 50%;
    transform: translateY(-50%);
    background-position: center center;
    background-repeat: no-repeat;
    background-image: image-url('vtrg/plus.png');

    .icon__cnt {
      display: none;
    }
  }

  a {
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;

    &::before {
      display: block;
      position: absolute;
      margin: auto;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background-color: #83e80a;
      z-index: -1;
      content: '';
      transition: all .2s ease;
    }

    &::after {
      // temporary hidden
      display: none;
      position: absolute;
      top: -10px;
      left: 50%;
      white-space: nowrap;
      transform: translate(-50%, -100%);
      opacity: 0;
      visibility: hidden;
      transition: opacity .2s ease, visibility .2s ease;
    }

    &:hover {
      opacity: 1;

      &::before {
        width: 100%;
        height: 100%;
        border-radius: 3px;
      }

      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .vtrg-text {
    background-image: image-url('vtrg/text.png');
    background-repeat: no-repeat;
  }

  .vtrg-editor {
    background-image: image-url('vtrg/editor.png');
    background-repeat: no-repeat;
  }

  .vtrg-slider {
    background-image: image-url('vtrg/slider.png');
    background-repeat: no-repeat;
  }

  .vtrg-big-image {
    background-image: image-url('vtrg/big_image.png');
    background-repeat: no-repeat;

    &::after {
      content: "Изображение";
    }
  }

  .vtrg-two-images {
    background-image: image-url('vtrg/two_images.png');
    background-repeat: no-repeat;
  }

  .vtrg-table {
    background-image: image-url('vtrg/table.png');
    background-repeat: no-repeat;
  }

  .vtrg-three-images {
    background-image: image-url('vtrg/three_images.png');
    background-repeat: no-repeat;
  }
}

.vtrg-edit-wrapper {

  &:hover {
    box-shadow: 0 0 0 2px #83e80a inset;

    .vtrg-edit-body {
      padding: 2px;
    }
  }

  &.editmode {
    box-shadow: 0 0 0 2px #83e80a inset;
  }
}

.vtrg-edit-control {
  padding: 0 !important;
  font-size: 0;
  background-color: #fff !important;
  transition: background-color .2s ease;
  overflow: hidden;

  &.top {
    left: 2px !important;
    top: 2px !important;
    box-shadow: 4px 4px 14px rgba(4, 4, 4, 0.06);
    border-bottom-right-radius: 3px;
  }

  &.bottom {
    right: 2px !important;
    bottom: 2px !important;
    box-shadow: -4px -4px 14px rgba(4, 4, 4, 0.06);
    border-top-left-radius: 3px;
  }

  a {
    display: inline-block;
    position: relative;

    &:hover {
      opacity: 1;
    }
  }

  .icon__cnt {
    display: none;
  }

  .icon {
    background-repeat: no-repeat;
    background-position: center center;

    &::before {
      display: block;
      position: absolute;
      margin: auto;
      width: 0;
      height: 0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background-color: #83e80a;
      z-index: -1;
      content: '';
      transition: all .2s ease;
    }

    &:hover {

      &::before {
        width: 100%;
        height: 100%;
        border-radius: 0;
      }
    }

    &--m {
      width: 60px;
      height: 60px;
    }

    &--ei-trash {
      background-image: image-url('vtrg/delete.png');
    }

    &--ei-pencil {
      background-image: image-url('vtrg/edit.png');
    }

    &--ei-retweet {
      background-image: image-url('vtrg/move.png');
    }
  }
}

.vtrg-edit-body {
  .inputs {
    margin: 12px 6px 0;
    & > ol {
      list-style: none;
      margin: 0;
      padding: 0 10px;
      & > li + li { margin-top: 16px; }
    }
    .input {
      label {
        display: block;
        margin-bottom: 4px;
        color: #c19a6b;
        & > input { display: inline-block; margin-right: 8px; }
      }
    }
    .inline-hints {
      margin: 4px 0 0;
      font-size: 15px;
      line-height: 18px;
      font-style: italic;
      color: grey;
    }
  }
  .actions {
    margin: 12px 0 12px 12px;
    border: 0;
    padding: 0;
    & > ol {
      list-style: none;
      margin: 0;
      padding: 0;
      & > li {
        display: inline-block;
        margin: 6px 12px 6px 0;
      }
    }
    button:hover, a:hover { color: #c19a6b; }
  }
  .redactor-box { margin-bottom: 0; }
  .before-after-swipe img {
    max-width: 50%;
    display: inline-block;
  }
}
