@import "/base/mixins";

.thumb_image {
    width: 150px;
    height: auto;
}

.vtrg-image-block {
    display: flex;
}

.custom-editor_frame {
    width: 90%;
    min-height: 200px;
}

.cke_editable table,
.vtrg-table-content table {
    width: 100% !important;
    border-spacing: 0;
}

.vtrg-table-content table {
    border: none;
}

.vtrg-table-content {
  h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: $clr-black;
  }
}

.cke_editable tr:nth-child(2n),
.vtrg-table-content tr:nth-child(2n) {
    background: $clr-gray;
}

.cke_editable thead tr,
.vtrg-table-content thead tr {
  border: none;
  border-bottom: 2px solid $clr-black;
}

.long-vitrage-input {
  width: 32.5rem;
}

.vtrg-table-content td {
  text-align: left;
  font-size: 2rem;
  line-height: 125%;
  padding: 2.4rem 0 2.4rem 2.4rem;
  color: $clr-text-black;
  border: none;

  @include media-down($x-small) {
    font-size: 1.8rem;
    padding: 1.8rem 0 1.8rem 1.8rem;
  }

  @include media-down($xx-small) {
    font-size: 1.6rem;
    padding: 1.6rem 0 1.6rem 1.6rem;
  }
}

.swiper-image {
  margin-bottom: 1.6rem;
}

.new-slide-link {
  padding: 1.5rem 0 0 1.5rem;
  display: inline-block;
}

.error-message {
  color: $clr-errors-red;
  font-size: 1.2rem;
}
