@import "/base/mixins";

.vtrg-content {
  margin-bottom: 12.4rem;
}

.vtrg-header {
  margin-bottom: 6.4rem;
}

.h1-title.vtrg-title {
  @include media-down($medium) {
    grid-column: 5 / 19;
  }
  @include media-down($small) {
    grid-column: 1 / 19;
  }
  @include media-down($x-small) {
    font-size: 24px;
  }
}

.vtrg-edit-body {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-gap: 12.4rem 2.4rem;

  h1,h2,h3,h4,h5,h6 {
    line-height: 125%;
    margin-bottom: 0;
  }

  h1 {
    font-size: 7.2rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.8rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.2rem;
  }
}

.vtrg-edit-wrapper {
  margin-bottom: 7.2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.vtrg-edit-wrapper.editmode {
  .vtrg-edit-body {
    display: block;
  }
}

.vtrg-images-container {
  grid-column: 3/19;

  @include media-down($medium) {
    grid-column: 2/19;
  }
  @include media-down($small) {
    grid-column: 1/19;
  }
}

.vtrg-many-images {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.two-images {
  .vtrg-image {
    width: 43%;
    @include media-down($small) {
      width: 48%;
    }
  }
}

.three-images {
  .vtrg-image {
    width: 23.8%;
    @include media-down($small) {
      width: 30%;
    }
  }
}

.vtrg-image {
  img {
    margin-bottom: 1.6rem;
  }
}

.image-hint {
  font-size: 1.6rem;
  color: $clr-text-gray;
  line-height: 125%;
}

.vtrg-editor-text {
  grid-column: 5/14;
  color: $clr-text-gray;
  line-height: 125%;
  font-size: 2rem;

  h1,h2,h3,h4,h5,h6 {
    color: $clr-black;
    margin-top: 0;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

  li {
    margin-bottom: 0.8rem;
  }

  ol, ul {
    font-size: 1.6rem;
    margin: 0;
    padding-left: 4rem;
  }

  > ol, > ul {
    padding-left: 2rem;
    font-size: 2rem;
    > li {
      margin-bottom: 1.6rem;
    }
  }

  @include media-down($medium) {
    grid-column: 5/19;
  }
  @include media-down($small) {
    grid-column: 1/19;
  }
}

.vtrg-text-content {
  grid-column: 3/19;
  color: $clr-text-gray;
  line-height: 125%;
  font-size: 4rem;

  a {
    color: $clr-yellow;
  }

  @include media-down($medium) {
    grid-column: 2/19;
  }

  @include media-down($small) {
    grid-column: 1/19;
    font-size: 3rem;
  }
}

.vtrg-table-content {
  grid-column: 3/19;
  color: $clr-text-black;
  overflow-x: auto;

  @include media-down($medium) {
    grid-column: 2/19;
  }

  @include media-down($small) {
    grid-column: 1/19;
  }
}

.extra-margin {
  margin-top: 6rem;

  @include media-down($small) {
    margin-top: 0;
  }
}

.cke_editable th,
.vtrg-table-content th {
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 1.6rem;
  line-height: 125%;
  padding-bottom: 1.5rem;
  color: $clr-text-black;
  text-align: left;
  padding-left: 2.4rem;

  @include media-down($xx-small) {
    font-size: 1.4rem;
  }
}

.slider-vitrage {
  width: 100%;
  grid-column: 3/19;
  height: auto;

  @include media-down($medium) {
    grid-column: 2/19;
  }
  @include media-down($small) {
    grid-column: 1/19;
  }
}

.swiper-image {
  margin-bottom: 1.6rem;
}

.swiper-pagination-vitrage {
  font-size: 1.6rem;
  line-height: 125%;
  color: $clr-text-gray;
}

.slide-number {
  margin-right: 3rem;
}

.btn-prev {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 50%;
  height: 100%;
  z-index: 50;
  cursor: image-url('btn-prev.png') 40 40, pointer;
  outline: none;
}

.btn-next {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 50%;
  height: 100%;
  z-index: 50;
  cursor: image-url('btn-next.png') 40 40, pointer;
  outline: none;
}

.lg-btn-prev {
  position: absolute;
  left: 0;
  top: -50vh;
  display: block;
  z-index: 50;
  height: 100vh;
  width: 50vw;
  cursor: image-url('btn-prev.png') 40 40, pointer;
  outline: none;
}

.lg-btn-next {
  position: absolute;
  right: 0;
  top: -50vh;
  display: block;
  z-index: 50;
  height: 100vh;
  width: 50vw;
  cursor: image-url('btn-next.png') 40 40, pointer;
  outline: none;
}

.lg-btn-prev, .lg-btn-next {
  @include media-down($small) {
    display: none;
  }
}

.lg-outer {
  padding: 4rem;
  @include media-down($small) {
    padding: 8px;
  }
}


