.gallery-image-nested-block
  = f.inputs
    = f.input :image, label: "Изображение",
             hint: [ f.object.image? ? "<br>Текущее изображение:<br>#{image_tag(f.object.image.thumb.url)}" : ""].join.html_safe
    = f.input :image_cache, as: :hidden
    = f.input :title, label: "Подпись изображения"
    = f.input :prior, hint: "Чем меньше значение, тем раньше в списке", label: "Приоритет"
    - if f.object.image?
      = f.input :_destroy, as: :boolean, label: "Удалить"
    - else
      = link_to "Убрать изображение", "#", class: "remove_link"
    div class="nested-mover-control"
