<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application'%>

    <%- if controller.controller_name != "static" %>
      <%= javascript_include_tag 'vitrage/vitrage'%>
    <% end %>

    <link rel="icon" href="favicon.ico">

    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0">
  </head>

  <body>
    <%= yield %>
    <%- if Setting.find_by(ident: "bodyend_codes").present? %>
      <%== Setting.find_by(ident: "bodyend_codes").value %>
    <% end %>
  </body>
</html>
