@import "../base/mixins";

.green-theme {
  background-color: $clr-emerald;
  display: flex;
  flex-direction: column;

  @include media-down($x-small) {
    display: block; //fix for background mobile на айфоне
  }

  ::selection {
    background-color: rgba(253, 185, 19, 0.99);
    color: $clr-black;
  }

  .header__logo {
    color: $clr-yellow;
  }

  .header__nav .nav__link,
  .search-link {
    color: $clr-white;

    &:hover,
    &:focus {
      color: $clr-yellow;
    }
  }

  .nav__link {
    &.active {
      color: $clr-yellow;
    }
  }

  .h1-title {
    color: $clr-yellow;
  }
}

.fix-min-height {
  min-height: 100%;
}
